.gradient-red {
  background-image: var(--gradient-red);
}

.gradient-redlight {
  background-image: var(--gradient-redlight);
}

.gradient-orange {
  background-image: var(--gradient-orange);
}

.gradient-pink {
  background-image: var(--gradient-pink);
}

.gradient-blue {
  background-image: var(--gradient-blue);
}

.gradient-yellow {
  background-image: var(--gradient-yellow);
}

.gradient-green {
  background-image: var(--gradient-green);
}